body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FjnZrNa9qH4A%2Fmaxresdefault.jpg&f=1&nofb=1');
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.score-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    width: 194px;
    height: 387px;
    display: flex;
    flex-wrap: wrap;
    background-color: khaki;
    border: solid black 3px;
    margin-left: 150px;
}

.grid div {
    width: 18px;
    height: 18px;
    border: solid black 1px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: khaki;
    border: solid black 3px;
    align-self: flex-start;
    margin-right: 150px;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}